# 입출력
- 파이썬에서는 입력 받을 때, input()을 사용한다.
- input()의 경우 한 줄의 문자열을 입력받도록 해준다.
- 여러 개의 데이터를 입력받을 때는 데이터가 공백으로 구분되는 경우가 많다.

- 입력받은 문자열을 띄어쓰기로 구분하여 각각 정수 자료형의 데이터로 저장하는 코드의 사용빈도가 매우 높다.
- **list(map(int, input().split()))**을 이용하면 된다. 중요한 코드!

## 입력을 위한 전형적인 소스 코드

In [4]:
# 데이터의 개수 입력
n = int(input())

# 각 데이터를 공백으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

## 공백을 기준으로 구분하여 적은 수의 데이터 입력

In [5]:
# n, m, k를 공백으로 구분하여 입력
n, m, k = map(int, input().split())

print(n, m, k)

3 5 7
3 5 7

- 입력을 최대한 빠르게 받아야 하는 경우가 있다.
- 정렬, 이진 탐색, 최단 경로 문제의 경우 많은 수의 데이터가 연속적으로 입력이 되곤 한다.
- 이 때, 입력만 받다가 시간 초과가 되지 않기 위해서 input()은 사용하지 않는다. -> input()은 동작 속도가 느리다.

- 이 경우, 파이선의 sys 라이브러리에 정의되어 있는 **sys.stdin.readline()** 함수를 이용한다.
- sys 라이브러리는 다음과 같은 방식을 사용하며 input() 함수와 같이 한 줄씩 입력받기 위해 사용한다.

In [ ]:
import sys
sys.stdin.readline().rstrip()

- sys 라이브러리를 사용할 때는 한 줄 입력을 받고 나서 rstrip() 함수를 꼭 호출해야 한다.
- readline()으로 입력하면 입력 후 엔터가 줄 바꿈 기호로 입력되는데, 이 공백 문자를 제거하려면 rstrip()함수를 사용해야 한다. **외워야한다**

## readline() 사용 소스 코드 예시

In [6]:
import sys

# 문자열 입력받기
data = sys.stdin.readline().rstrip()
print(data)

## 변수 출력 예시

In [7]:
# 출력할 변수들
a = 1
b = 2

print(a, b)

# 출력 줄 바꿈 예시
a = 1
b = 2

print(a)
print(b)

1 2
1
2

In [8]:
# 출력시 오류가 발생하는 소스코드 예시

# 출력할 변수들
answer = 7
print("정답은" + answer + "입니다.")

TypeError: can only concatenate str (not "int") to str

In [9]:
# 변수를 문자열로 바꾸어 출력하는 소스코드 예시
print("정답은" + str(answer) + "입니다.")
print("정답은", answer, "입니다.") # ,를 사용시에 변수의 값 사이에 의도치 않은 공백이 삽입될 수 있다.

정답은7입니다.
정답은 7 입니다.

In [10]:
# f-string 사용하기
print(f"정답은 {answer}입니다.")

정답은 7입니다.